page-nova-senha {
    .distancia-elementos{
        padding: 5%;
    }
    .tamanho-fonte-1{
        font-size: 2rem;
        color: black;
    }
    .tamanho-fonte-2{
        font-size: 3rem;
    }
    .danger{
        background-color: rgb(211, 93, 93);
        font-size: 2rem;
    }
}
